In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime, date

In [2]:
df = pd.read_csv('Animal_Shelter_Intake_and_Outcome.csv')

In [3]:
df.head()

,Name,Type,Breed,Color,Sex,Size,Date Of Birth,Impound Number,Kennel Number,Animal ID,...,Intake Subtype,Outcome Type,Outcome Subtype,Intake Condition,Outcome Condition,Intake Jurisdiction,Outcome Jurisdiction,Outcome Zip Code,Location,Count
0,FIFI,CAT,SIAMESE,SEAL PT,Spayed,KITTN,10/27/2020,K21-037796,CA03,A402286,...,OVER THE COUNTER,ADOPTION,SCAS WEB,UNKNOWN,PENDING,SANTA ROSA,SANTA ROSA,95407.0,"95407(38.403734, -122.736775)",1
1,*MERLIN,CAT,DOMESTIC SH,BRN TABBY,Neutered,SMALL,01/16/2018,K21-037709,CS05,A402139,...,PHONE,ADOPTION,SCAS WEB,UNKNOWN,PENDING,SANTA ROSA,COUNTY,94952.0,"94952(38.236012, -122.730241)",1
2,*ANDY,CAT,DOMESTIC SH,BLACK,Neutered,KITTN,09/06/2020,K20-037580,WESTFARM,A401875,...,PHONE,ADOPTION,WESTFARM,HEALTHY,HEALTHY,SANTA ROSA,COUNTY,95436.0,"95436(38.491884, -122.90672)",1
3,*ANNE,CAT,DOMESTIC SH,BLACK/WHITE,Spayed,KITTN,09/06/2020,K20-037581,WESTFARM,A401876,...,PHONE,ADOPTION,WESTFARM,HEALTHY,HEALTHY,SANTA ROSA,SANTA ROSA,95409.0,"95409(38.458965, -122.630156)",1
4,RICKY,DOG,LABRADOR RETR/MIX,BLUE/WHITE,Neutered,MED,01/04/2020,K21-037835,DS72,A402348,...,FLD_ARREST,RETURN TO OWNER,OVER THE COUNTER_ARREST,UNKNOWN,PENDING,SANTA ROSA,SANTA ROSA,95403.0,"95403(38.486997, -122.749134)",1

In [35]:
df.columns

Index(['Name', 'Type', 'Breed', 'Color', 'Sex', 'Size', 'Date Of Birth',
       'Impound Number', 'Kennel Number', 'Animal ID', 'Intake Date',
       'Outcome Date', 'Days in Shelter', 'Intake Type', 'Intake Subtype',
       'Outcome Type', 'Outcome Subtype', 'Intake Condition',
       'Outcome Condition', 'Intake Jurisdiction', 'Outcome Jurisdiction',
       'Outcome Zip Code', 'Location', 'Count'],
      dtype='object')

In [36]:
df.drop(['Impound Number', 'Animal ID', 'Intake Date', 'Intake Subtype', 
         'Outcome Subtype', 'Intake Condition', 'Intake Jurisdiction', 
         'Outcome Jurisdiction', 'Outcome Zip Code', 'Location', 'Count'],
        axis=1, inplace=True)

In [37]:
df.rename(columns = {'Name':'name',
                     'Type':'type',
                     'Breed':'breed',
                     'Color':'color',
                     'Sex':'sex',
                     'Size':'size',
                     'Date Of Birth':'dob',
                     'Kennel Number':'shelter',
                     'Outcome Date': 'outcome_date',
                     'Days in Shelter':'days_in_shelter',
                     'Intake Type':'intake_type',
                     'Outcome Type':'outcome',
                     'Outcome Condition':'outcome_condition'}, inplace=True)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21673 entries, 0 to 21672
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               16043 non-null  object
 1   type               21673 non-null  object
 2   breed              21673 non-null  object
 3   color              21673 non-null  object
 4   sex                21673 non-null  object
 5   size               21641 non-null  object
 6   dob                16362 non-null  object
 7   shelter            21664 non-null  object
 8   outcome_date       21512 non-null  object
 9   days_in_shelter    21673 non-null  int64
 10  intake_type        21673 non-null  object
 11  outcome            21507 non-null  object
 12  outcome_condition  21174 non-null  object
dtypes: int64(1), object(12)
memory usage: 2.1+ MB

In [39]:
df.dropna(subset=['size', 'dob', 'outcome_date', 'outcome', 'outcome_condition'], inplace=True)

In [40]:
df.name = df.name.fillna('no')

In [41]:
df.name = df.name.apply(lambda x: 'yes' if x != 'no' else x)

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16104 entries, 0 to 21672
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               16104 non-null  object
 1   type               16104 non-null  object
 2   breed              16104 non-null  object
 3   color              16104 non-null  object
 4   sex                16104 non-null  object
 5   size               16104 non-null  object
 6   dob                16104 non-null  object
 7   shelter            16104 non-null  object
 8   outcome_date       16104 non-null  object
 9   days_in_shelter    16104 non-null  int64
 10  intake_type        16104 non-null  object
 11  outcome            16104 non-null  object
 12  outcome_condition  16104 non-null  object
dtypes: int64(1), object(12)
memory usage: 1.7+ MB

In [43]:
df.head()

,name,type,breed,color,sex,size,dob,shelter,outcome_date,days_in_shelter,intake_type,outcome,outcome_condition
0,yes,CAT,SIAMESE,SEAL PT,Spayed,KITTN,10/27/2020,CA03,02/05/2021,6,OWNER SURRENDER,ADOPTION,PENDING
1,yes,CAT,DOMESTIC SH,BRN TABBY,Neutered,SMALL,01/16/2018,CS05,02/05/2021,20,STRAY,ADOPTION,PENDING
2,yes,CAT,DOMESTIC SH,BLACK,Neutered,KITTN,09/06/2020,WESTFARM,01/13/2021,18,STRAY,ADOPTION,HEALTHY
3,yes,CAT,DOMESTIC SH,BLACK/WHITE,Spayed,KITTN,09/06/2020,WESTFARM,01/13/2021,18,STRAY,ADOPTION,HEALTHY
4,yes,DOG,LABRADOR RETR/MIX,BLUE/WHITE,Neutered,MED,01/04/2020,DS72,02/05/2021,1,CONFISCATE,RETURN TO OWNER,PENDING

In [44]:
df.dob = pd.to_datetime(df.dob)

In [45]:
df.outcome_date = pd.to_datetime(df.outcome_date)

In [46]:
df['age'] = df.outcome_date - df.dob

In [47]:
df.drop(['dob'], axis=1, inplace=True)

In [48]:
df.head()

,name,type,breed,color,sex,size,shelter,outcome_date,days_in_shelter,intake_type,outcome,outcome_condition,age
0,yes,CAT,SIAMESE,SEAL PT,Spayed,KITTN,CA03,2021-02-05,6,OWNER SURRENDER,ADOPTION,PENDING,101 days
1,yes,CAT,DOMESTIC SH,BRN TABBY,Neutered,SMALL,CS05,2021-02-05,20,STRAY,ADOPTION,PENDING,1116 days
2,yes,CAT,DOMESTIC SH,BLACK,Neutered,KITTN,WESTFARM,2021-01-13,18,STRAY,ADOPTION,HEALTHY,129 days
3,yes,CAT,DOMESTIC SH,BLACK/WHITE,Spayed,KITTN,WESTFARM,2021-01-13,18,STRAY,ADOPTION,HEALTHY,129 days
4,yes,DOG,LABRADOR RETR/MIX,BLUE/WHITE,Neutered,MED,DS72,2021-02-05,1,CONFISCATE,RETURN TO OWNER,PENDING,398 days

In [49]:
df.age = df.age.astype(str)

In [50]:
df.age = df.age.str.strip('days')

In [51]:
df.age = df.age.astype(int)

In [52]:
df.rename(columns = {'age':'age_in_days'}, inplace=True)

In [53]:
df.sex.unique()

array(['Spayed', 'Neutered', 'Female', 'Male', 'Unknown'], dtype=object)

In [54]:
drop_sex = df[df.sex == 'Unknown'].index

In [55]:
df.drop(drop_sex, inplace=True)

In [56]:
df.sex.unique()

array(['Spayed', 'Neutered', 'Female', 'Male'], dtype=object)

In [57]:
df.head()

,name,type,breed,color,sex,size,shelter,outcome_date,days_in_shelter,intake_type,outcome,outcome_condition,age_in_days
0,yes,CAT,SIAMESE,SEAL PT,Spayed,KITTN,CA03,2021-02-05,6,OWNER SURRENDER,ADOPTION,PENDING,101
1,yes,CAT,DOMESTIC SH,BRN TABBY,Neutered,SMALL,CS05,2021-02-05,20,STRAY,ADOPTION,PENDING,1116
2,yes,CAT,DOMESTIC SH,BLACK,Neutered,KITTN,WESTFARM,2021-01-13,18,STRAY,ADOPTION,HEALTHY,129
3,yes,CAT,DOMESTIC SH,BLACK/WHITE,Spayed,KITTN,WESTFARM,2021-01-13,18,STRAY,ADOPTION,HEALTHY,129
4,yes,DOG,LABRADOR RETR/MIX,BLUE/WHITE,Neutered,MED,DS72,2021-02-05,1,CONFISCATE,RETURN TO OWNER,PENDING,398

In [58]:
df['outcome_day_of_week'] = df.outcome_date.dt.dayofweek

In [59]:
df.drop('outcome_date', axis=1, inplace=True)

In [60]:
df.reset_index(drop=True, inplace=True)

In [61]:
df

,name,type,breed,color,sex,size,shelter,days_in_shelter,intake_type,outcome,outcome_condition,age_in_days,outcome_day_of_week
0,yes,CAT,SIAMESE,SEAL PT,Spayed,KITTN,CA03,6,OWNER SURRENDER,ADOPTION,PENDING,101,4
1,yes,CAT,DOMESTIC SH,BRN TABBY,Neutered,SMALL,CS05,20,STRAY,ADOPTION,PENDING,1116,4
2,yes,CAT,DOMESTIC SH,BLACK,Neutered,KITTN,WESTFARM,18,STRAY,ADOPTION,HEALTHY,129,2
3,yes,CAT,DOMESTIC SH,BLACK/WHITE,Spayed,KITTN,WESTFARM,18,STRAY,ADOPTION,HEALTHY,129,2
4,yes,DOG,LABRADOR RETR/MIX,BLUE/WHITE,Neutered,MED,DS72,1,CONFISCATE,RETURN TO OWNER,PENDING,398,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15662,yes,DOG,AM PIT BULL TER,WHITE/BLUE MERLE,Male,MED,DS66,29,STRAY,RETURN TO OWNER,PENDING,2192,1
15663,yes,CAT,DOMESTIC SH,BRN TABBY,Spayed,KITTN,LOBBY,42,STRAY,ADOPTION,HEALTHY,73,2
15664,no,DOG,CHIHUAHUA LH/MIX,BLACK/WHITE,Male,TOY,DA16,13,STRAY,TRANSFER,HEALTHY,378,4
15665,yes,DOG,CHIHUAHUA LH/MIX,BROWN/WHITE,Neutered,TOY,LOBBY,16,STRAY,ADOPTION,TREATABLE/REHAB,715,5
15666,no,CAT,DOMESTIC SH,CALICO,Female,KITTN,COOLER,49,STRAY,DISPOSAL,DEAD,110,1

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15667 entries, 0 to 15666
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 15667 non-null  object
 1   type                 15667 non-null  object
 2   breed                15667 non-null  object
 3   color                15667 non-null  object
 4   sex                  15667 non-null  object
 5   size                 15667 non-null  object
 6   shelter              15667 non-null  object
 7   days_in_shelter      15667 non-null  int64
 8   intake_type          15667 non-null  object
 9   outcome              15667 non-null  object
 10  outcome_condition    15667 non-null  object
 11  age_in_days          15667 non-null  int64
 12  outcome_day_of_week  15667 non-null  int64
dtypes: int64(3), object(10)
memory usage: 1.6+ MB

In [63]:
df.to_csv('adopt.csv', index=False)